.navbar {
    display: flex;
    flex-wrap: nowrap;
   
}

.navbar__item {
    flex-grow: 1;
    list-style-type: none;
    cursor:pointer;
    text-transform: capitalize;
    font-size: 15px;
    color: blue;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
a:active{
    color: black;
}
.navbar__item>
.active{
    color: blue;
}

.navbar__item>.logout{
    color: black;
}
